<!DOCTYPE html>
<html>
  <head>
    <title>SundayMonday</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>

    <script type="text/javascript">
      window.logo = "<%= image_url('logo.png') %>"
      window.dj = "<%= image_url('dj.jpg') %>"
      window.hat = "<%= image_url('hat.jpg') %>"
      window.shirt = "<%= image_url('shirt.jpg') %>"
      window.misc = "<%= image_url('sticker.jpg') %>"
      window.sweatshirt = "<%= image_url('sweatshirt.jpg') %>"
      window.album = "<%= image_url('album.jpg') %>"
    </script>

    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto">
  </head>

  <body>
    <%= yield %>
  </body>
</html>
