<!DOCTYPE html>
<html>
  <head>
    <title>SundayMonday</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>

    <script type="text/javascript">
      window.logo = "<%= image_url('logo.png') %>"
      window.dj = "<%= image_url('dj.jpg') %>"
    </script>

    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto">
  </head>

  <body>
    <%= yield %>
  </body>
</html>
