<!DOCTYPE html>
<html>
  <head>
    <title>SundayMonday</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= javascript_include_tag "https://maps.googleapis.com/maps/api/js?key=#{Rails.application.credentials.google[:api_key]}" %>
    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>

    <script type="text/javascript">
      window.logo = "<%= image_url('logo.png') %>"
      window.colorLogo = "<%= image_url('color-logo.png') %>"
      window.tree = "<%= image_url('tree.jpg') %>"
      window.googleAPIKey = "<%= Rails.application.credentials.google[:api_key] %>"
    </script>

    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Flamenco">
    <%= favicon_link_tag asset_path('tab-logo.jpg') %>

  </head>

  <body>
    <%= yield %>
  </body>
</html>
